<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar">
        <a href="/">
            <img src="/img/logo.png" alt="Logo pensador" />
        </a>

        <ul>
            <li><a href="#">Pensamentos</a></li>
            <li><a href="#">Entrar</a></li>
            <li><a href="#">Registrar</a></li>
        </ul>
    </nav>
    {{{body}}}

    <footer>
        <p>Pensadores@2023</p>
    </footer>
  </body>
</html>